#sidebar-menu ul li a {
  padding: 0.35rem 1.5rem!important;
 
}

#sidebar-menu ul li ul.sub-menu li a {
    padding: 0.4rem 1.5rem 0.4rem 3.2rem!important;
    font-size: 13px;
    color: #7c8a96;
}
.bg-perple {
  background-color:#DD66DC;
  box-shadow: 1px 0 20px rgba(0,0,0,.05)!important;
  border-radius:0.25rem;
}
html, body { text-transform: capitalize!important;}

.bx-1 {
  box-shadow: 1px 0 20px rgba(0,0,0,.05)!important;
  -webkit-box-shadow: 1px 0 20px rgba(0,0,0,.08)!important;
  border:1px solid #ccc;
  border-radius:0.50rem;
}